<ion-view view-title="Dashboard">
  <ion-content ng-controller="DashboardCtrl">
    <div class="item card-item">
      <h2 class="text-center">Herzlich willkommen in Gießen</h2>
    </div>
    <div class="item card-item">
      <div class="card stable-bg ink ink-dark" ng-repeat="tip in tooltips">
        <div class="item item-text-wrap">
          <strong>{{tip.title}}</strong>
          <p>{{tip.text}}</p>
          <div class="card-footer text-right">
            <p>Message of the day</p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
