<ion-view view-title="{{'DASH_TITLE'|translate}}">
  <ion-content ng-controller="DashboardCtrl">
    <div class="item card-item">
      <h2 class="text-center">{{'WELCOME_TITLE'|translate}}</h2>
    </div>
    <div class="item card-item">
      <div class="card stable-bg ink ink-dark">
        <div class="item item-text-wrap">
          <strong>{{getMotd.title}}</strong>
          <p>{{getMotd.text}}</p>
          <div class="card-footer text-right">
            <p>Message of the day</p>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
