<ion-view view-title="Germany Guide">
  <ion-content ng-controller="GuideCtrl">
    <!--<div class="list condensed-space no-padding animate-blinds">
      <div class="card energized-900-bg" ng-repeat="guide in guides">
        <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
          <h2>{{guide.title}}</h2>
        </a>
      </div>
    </div>-->
    <div class="list condensed-space no-padding">
    <div class="card dark-bg" ng-repeat="guide in guides">
      <a class="item clear-bg item-bg-image" href="">
        <h2>{{guide.title}}</h2>
        <img src="../img/login.jpg">
      </a>
    </div>
  </div>
  </ion-content>
</ion-view>
