<ion-view view-title="InfoDetail">
  <ion-content ng-controller="InfoCtrl">
    <!--<div class="list" ng-repeat="info in infos">
      <div class="item item-divider">
        {{info.title}}
      </div>
      <a class="item" href="#" ng-repeat="name in info.names">
        {{name.title}}
      </a>
    </div>-->

    <ion-list class="animate-fade-slide-in-right">
      <div ng-repeat="info in infos[index].category">
        <ion-item class="item-stable"
                  ng-click="toggleGroup(info)"
                  ng-class="{active: isGroupShown(info)}">
          <i class="icon" ng-class="isGroupShown(info) ? 'ion-minus' : 'ion-plus'"></i>
          &nbsp;
          {{info.group}}
        </ion-item>
        <ion-item class="item-accordion item-text-wrap"
                  ng-repeat="item in info.items"
                  ng-show="isGroupShown(info)">
          <h3>{{item.title}}</h3>
          <p ng-hide="!item.location"><i class="icon ion-android-pin"></i> {{item.location}}</p>
          <p ng-hide="!item.tel"><i class="icon ion-android-call"></i> {{item.tel}}</p>
          <p ng-hide="!item.url"><i class="icon ion-android-open"></i><a href="javascript:void(0)" ng-click="openLink('{{item.url}}')"> {{item.url}}</a></p>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
