<ion-view view-title="InfoDetail">
  <ion-content ng-controller="InfoCtrl">
    <!--<div class="list" ng-repeat="info in infos">
      <div class="item item-divider">
        {{info.title}}
      </div>
      <a class="item" href="#" ng-repeat="name in info.names">
        {{name.title}}
      </a>
    </div>-->

    <ion-list>
      <div ng-repeat="info in infos">
        <ion-item class="item-stable"
                  ng-click="toggleGroup(info)"
                  ng-class="{active: isGroupShown(info)}">
          <i class="icon" ng-class="isGroupShown(info) ? 'ion-minus' : 'ion-plus'"></i>
          &nbsp;
          {{info.title}}
        </ion-item>
        <ion-item class="item-accordion"
                  ng-repeat="item in info.names"
                  ng-show="isGroupShown(info)">
          {{item.title}}
          {{item.location}}
          {{item.spec}}
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
