<ion-view hide-nav-bar="true">
  <ion-content class="startPage" ng-controller="DashboardCtrl">
    <div class="hero no-header flat">
      <div class="content">
        <h1>Please select your language</h1>
      </div>
    </div>
    <div class="padding">
      <button class="button button-full button-assertive ink" ng-click="setLang('de_DE')"><i class="flag-icon flag-icon-de"></i> {{'LANG_DE'|translate}}</button>
      <button class="button button-full button-energized ink" ng-click="setLang('en_US')"><i class="flag-icon flag-icon-us"></i> {{'LANG_EN'|translate}}</button>
      <button class="button button-full button-positive ink" ng-click="setLang('ar_SY')"><i class="flag-icon flag-icon-sy"></i> {{'LANG_AR'|translate}}</button>
      <button class="button button-full button-royal ink" ng-click="setLang('fa_AF')"><i class="flag-icon flag-icon-af"></i> {{'LANG_AF'|translate}}</button>
      <button class="button button-full button-calm ink" ng-click="setLang('tr_TR')"><i class="flag-icon flag-icon-tr"></i> {{'LANG_TR'|translate}}</button>
      <button class="button button-full button-balanced ink" ng-click="setLang('fr_FR')"><i class="flag-icon flag-icon-fr"></i> {{'LANG_FR'|translate}}</button>
    </div>
  </ion-content>
</ion-view>
